.calculator {
	text-align: center;
	margin: 0 auto;
	padding-top: 200px;
	width: 400px;
}

.calculator-screen {
	width: 100%;
	height: 70px;
	background-color: #dfe6e9;
	color: #000;
	text-align: right;
	font-size: 36px;
	border: 1px solid black;
	padding: 0 20px;
	box-sizing: border-box;
}

.calculator-keys {
	width: 100%;
}

.row {
	display: flex;
}

button, #percentage {
	height: 80px;
	background-color: #2d3436;
	border: 1px solid black;
	font-size: 32px;
	color: #fff;
	width: 25%;
	outline: none;
}

button:hover, #percentage:hover {
	background-color: #636e72;
}

.operator:hover, .equal-sign:hover {
	background-color: #55efc4;
}

.all-clear, .zero-btn {
	width: 50%;
}

.operator, .equal-sign {
	background-color: #00b894;
}
